body {
  text-align: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

#navigatie {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 20px;
  border-radius: 0 0 20px 20px;
}

#navigatie h1 {
  color: white;
  font-size: 30px;
}

.lijst {
  background-color: rgb(207, 207, 207);
  height: 40vh;
  overflow: hidden scroll;
  border-radius: 20px;
  margin: 30px;
}
.knoppen .stats {
  color: white;
}

.knoppen .stats a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  background-color: black;
  display: inline-block;
  padding: 20px 20%;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 20px;
}

.events {
  margin-top: 170px;
}

.dagen .buttons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2%;
}

.dagen .buttons .mood {
  display: block;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  grid-column: 2;
}

.dagen .buttons .mood h3 {
  font-size: 20px;
}

.dagen .buttons .update {
  padding-left: 10px;
  padding-right: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  grid-column: 3 / span 3;
}

.dagen .buttons .update img {
  width: 30px;
  padding-right: 10px;
}
