body {
  text-align: center;
  align-items: center;
  font-family: sans-serif;
}

#navigatie {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 20px;
  border-radius: 0 0 20px 20px;
}

#navigatie h1 {
  color: white;
}

.datum {
  display: flex;
  align-items: center;
}

.pijltje img {
  width: 20%;
}

.kalender .dagen h3 {
  grid-template-columns: repeat(7, 1fr);
}

.knoppen .stats {
  color: white;
}

.knoppen .stats a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  background-color: black;
  display: inline-block;
  padding: 20px 20%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.dagen .buttons {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 2%;
}

.dagen .buttons .mood {
  display: block;
  background-color: grey;
  border-radius: 10px;
  grid-column: 3;
}

.dagen .buttons .update {
  display: flex;
  text-align: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  grid-column: 4 / span 3;
}

.dagen .buttons .update img {
  width: 30px;
}
