body {
  text-align: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 253, 249);
}

#navigatie {
  background-color: rgb(23, 61, 100);
  color: white;
  padding: 20px;
  border-radius: 0 0 20px 20px;
}

#navigatie h1 {
  color: white;
  font-size: 30px;
}

.dagen .Overzicht h2 {
  text-align: left;
  margin-left: 30px;
  margin-top: 120px;
}

.lijst {
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  height: 40vh;
  overflow: hidden scroll;
  border-radius: 20px;
  margin: 0px 30px;
  margin-top: 25px;
  font-size: larger;
}
.knoppen .stats {
  color: white;
}

.knoppen .stats a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  background-color: rgb(23, 61, 100);
  display: inline-block;
  padding: 20px 20%;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 20px;
}

.events {
  margin-top: 70px;
}

.buttons {
  text-align: center;
  background-color: rgb(255, 253, 249);
  display: inline-block;
  border: 3px solid black;
  padding: 5px 20%;
  border-radius: 10px;
}

.dagen .buttons .update {
  text-decoration: none;
  display: flex;
  color: black;
}

.dagen .buttons .update img {
  width: 80px;
  margin-right: 20px;
}
